body {
    background-image: url("https://media1.tenor.com/images/c674098bbf5aae4f629d6ef360a002d9/tenor.gif?itemid=3405267");
    background-size: cover;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    margin-left: 22px;
}

h2 {
    color: lightblue;
}

/* Menu */
#menu {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#menu li {
    display: inline-block;
    margin-right: 10px;
}

#menu li a {
    font-weight: bold;
    color: #fff;
    background-color: #0099cc;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

#menu li a:hover {
    background-color: #ff6600;
}

hr {
    border: 1px solid rgba(255,255,255,0.3);
    margin: 40px 0;
}